@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff; 
  background-color: #181719; 
}
.page {

  display: flex;
  flex-direction: column;
  margin:1.7rem 3rem;
  /* min-height:100vh;  */
  justify-content: space-between;
  gap:15vh;

}
/** nav bar **/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-heading {
  font-family: Crimpson Pro;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1rem;
  border: 1px solid #ffffff;
  padding: 0.5rem;
  height: fit-content;
}

.nav-list{
  margin-block-start: 0em;
  padding-inline-start: 0;
  list-style: none;
  margin-right:0;

 
}
.nav-list-item{
  display: inline-block;
}
.nav-links{
  font-family: Montserrat;
  font-weight: 500;
  font-size:1.1rem;
  line-height: 1.4rem;
  color:#ffffff;
  text-decoration: none;
  padding:0 25px;
}

.link-one{
  font-weight: 700;
}
.highlight{
  margin-top:0.3rem;
  margin-left:1.6rem;
  border:1.3px solid #ffffff;
  background-color: #ffffff;
  width:50%;
}

/** section **/


.page__main{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/** page info **/
.page__info{
  width:35%;
  margin-top:8%;
  display: flex;
  flex-direction: column;
  gap:4vh;
  
}

.info-heading{
  font-family: Lora;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.84rem;
}

.info-desc{
  font-family: Montserrat;
  font-size: 1.5rem;
  line-height: 1.8rem;
  width:88%;
}
.read-more{
  display: flex;
  justify-content: space-between;
  width:34%;
}
.read-more-text{
  font-family:Montserrat;
  font-weight: bold;
  font-size:1.1rem;
  line-height: 1.3rem;
}

.read-more-icon{
  
  width:1.5rem;
  height:1.6rem;
}

/** page graphics **/

.page__graphics{
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: flex-end;  
   width:60%;
   
}

.page__image{
   width:90%;

}



/** page card **/

.page-card{
  width:45%;
  padding:1rem;
  display: flex;
  flex-direction: column;
  gap:3vh;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left:44%;
  position: relative;
  margin-top:-10%;
  background-color: #181719;
  height: 19%;
}
.card-profile{
  width:10.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.person-image{
  border-radius: 50%;
  width:25%;
}

.person-name{
  font-family: Montserrat;
  font-weight:500;
  font-size:1rem;
  line-height:1rem;
  margin-bottom: 0.4rem;
}

.person-position{
  font-family: Montserrat;
  font-weight:500;
  font-size:0.8rem;
  line-height:0.9rem;
  color:#828282;
}

.card-title{
  font-family: Lora;
  font-weight:700;
  font-size:1.5rem;
  line-height: 2rem;
  width:80%;
}

/** footer **/
.page__footer{
  text-align: center;
  color:#A9A9A9;
  font-family:Montserrat;
  font-weight:500;
  font-size: 1rem;
  line-height: 1rem;

}

.page__footer a{
  color:#A9A9A9;
  
}

/** media queries **/

@media (max-width:480px){

  .nav-list{
    display: none;
  }
  #menu-icon{
    display:block;
  }
   .page{
    margin:1.5rem 1rem;
   }
   #menu-icon{
     margin-top:0.5rem
   }
}

@media (min-width:481px){
  #menu-icon{
    display: none;
  }
}