@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

:root {
  --primary-color: #181719;
  --secondary-color: #ffffff;
  --gray-color: #a9a9a9;
  --light-gray: #828282;
}
.page {
  display: flex;
  flex-direction: column;
  margin: 1.7rem 3rem;
  /* min-height:100vh;  */
  justify-content: space-between;
  gap: 15vh;
}
/** nav bar **/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-heading {
  font-family: Crimpson Pro;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1rem;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
  height: fit-content;
}

.nav-list {
  margin-block-start: 0em;
  padding-inline-start: 0;
  list-style: none;
  margin-right: 0;
}
.nav-list-item {
  display: inline-block;
}
.nav-links {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0 25px;
}

.link-one {
  font-weight: 700;
}
.highlight {
  margin-top: 0.3rem;
  margin-left: 1.6rem;
  border: 1.3px solid var(--secondary-color);
  background-color: var(--secondary-color);
  width: 50%;
}

/** section **/

.page__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/** page info **/
.page__info {
  width: 35%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.info-heading {
  font-family: Lora;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.84rem;
}

.info-desc {
  font-family: Montserrat;
  font-size: 1.5rem;
  line-height: 1.8rem;
  width: 13.6em;
}
.read-more {
  display: flex;
  justify-content: space-between;
  width: 8.5em;
}
.read-more-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.read-more-icon {
  width: 1.5rem;
  height: 1.6rem;
}

/** page graphics **/

.page__graphics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 60%;
}

.page__image {
  width: 90%;
}

/** page card **/

.page-card {
  /* width: 19.5em; */
  width: 23vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 25vw;
  position: relative;
  margin-top: -4.5em;
  background-color: var(--primary-color);
  height: 40%;
}
.card-profile {
  width: 10.5em; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.person-image {
  border-radius: 50%;
  width: 25%;
}

.person-name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 0.4rem;
}

.person-position {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 0.9rem;
  color: var(--light-gray);
}

.card-title {
  font-family: Lora;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  width: 10em;
}

/** footer **/
.page__footer {
  text-align: center;
  color: var(--gray-color);
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}

.page__footer a {
  font-weight: 700;
  color: var(--gray-color);
}
/** mobile menu when not responsive **/
.mobile-menu {
  display: none;
}
.btn-menu {
  display: none;
}
/** media queries **/

@media (max-width: 480px) {
  .nav-list {
    display: none;
  }
  .btn-menu {
    display: block;
    margin-right: 0.2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    transform: scale(1.8, 1.4);
  }
  .btn-close {
    border: none;
    background-color: var(--primary-color);
    margin-left: 88%;
    margin-top: 1rem;
  }
  .close-icon {
    display: block;
    width: 9vw;
  }
  .menu-items {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
    gap: 3.5vh;
  }
  .home-text {
    font-weight: 700;
  }
  .highlight {
    width: 100%;
    margin-left: 2%;
  }
  .page {
    margin: 1.5rem 0.8rem;
    gap: 6vh;
  }
  #menu-icon {
    transform: scale(1.4, 1);
  }

  .nav-pills {
    align-self: center;
  }

  /** section **/
  .page__main {
    flex-wrap: wrap;
    gap: 6vh;
  }
  /** page info **/
  .page__info {
    width: 100%;
    margin-top: 0;
    gap: 3.5vh;
  }

  .info-heading {
    font-size: 2.25rem;
    line-height: 2.8rem;
  }

  .info-desc {
    font-size: 1rem;
    line-height: 1rem;
    width: 75%;
  }
  .read-more {
    width: 8em;
  }
  .read-more-text {
    font-size: 1rem;
    line-height: 1rem;
    align-self: center;
  }

  .read-more-icon {
    margin-top: 0.2rem;
  }

  /** page graphics **/

  .page__graphics {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .page__image {
    width: 100%;
  }

  /** page card **/

  .page-card {
    width: 75%;
    gap: 2.5vh;
    margin-left: 8%;
    margin-top: -17%;
    height: fit-content;
  }
  .card-profile {
    width: 8.5em;
  }
  .person-image {
    width: 30%;
  }

  .person-name {
    font-size: 12px;
    line-height: 14.63px;
    margin-bottom: 0.4rem;
  }

  .person-position {
    font-size: 10px;
    line-height: 12.19px;
  }

  .card-title {
    font-size: 1.1rem;
    line-height: 1.4rem;
    width: 80%;
    margin-bottom: 0.5rem;
  }

  /** footer **/
  .page__footer {
    font-size: 14px;
  }
}
